<section id="product">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="productHeading text-center">
                    <h2 class="mb-3">Exclusive Products</h2>
                    <ul class="list-unstyled d-flex justify-content-center">
                        <li><a href="#" class="m-4 text-decoration-none text-danger fw-semibold">New Arrival</a></li>
                        <li><a href="#" class="m-4 text-decoration-none fw-semibold text-black">Best Sellers</a></li>
                        <li><a href="#" class="m-4 text-decoration-none fw-semibold text-black">Featured</a></li>
                        <li><a href="#" class="m-4 text-decoration-none fw-semibold text-black">Special Offer</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12">
                <div class="row mt-3">
                    <div class="col-lg-3">
                        <div class="box-shadow">
                            <div class="card">
                                <!-- Product Card 1 -->
                                <img class="img-fluid" src="D:\Programming_2\Github clones\e-commerce-Angular\ecommerce\src\images\blue-dress-woman.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Blue Dress for Women</h5>
                                    <p class="card-text">
                                        <span class="text-danger fw-semibold me-2">Rs. 357.50</span><del>Rs. 550</del>
                                        <span class="text-success ms-2">35% Off</span>
                                    </p>
                                    <span><i class="fa fa-star m-0" style="color: #f1f50f;"></i></span>
                                    <span><i class="fa fa-star m-0" style="color: #f1f50f;"></i></span>
                                    <span><i class="fa fa-star m-0" style="color: #f1f50f;"></i></span>
                                    <span><i class="fa fa-star m-0" style="color: #f1f50f;"></i></span>
                                    <span><i class="fa fa-star-half m-0" style="color: #f1f50f;"></i></span>
                                    <span class="text-muted">(21)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="box-shadow">
                            <div class="card">
                                <!-- Product Card 2 -->
                                <img class="img-fluid" src="D:\Programming_2\Github clones\e-commerce-Angular\ecommerce\src\images\grey-tuxedo.png" class="card-image-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Leather Grey Tuxedo</h5>
                                    <p class="card-text">
                                        <span class="text-danger fw-semibold me-2">Rs. 712.50</span><del>Rs. 950</del>
                                        <span class="text-success ms-2">25% Off</span>
                                    </p>
                                    <span><i class="fa fa-star m-0" style="color: #f1f50f;"></i></span>
                                    <span><i class="fa fa-star m-0" style="color: #f1f50f;"></i></span>
                                    <span><i class="fa fa-star m-0" style="color: #f1f50f;"></i></span>
                                    <span><i class="fa fa-star m-0" style="color: #f1f50f;"></i></span>
                                    <span><i class="fa fa-star-half m-0" style="color: #f1f50f;"></i></span>
                                    <span class="text-muted">(15)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="box-shadow">
                            <div class="card">
                                <!-- Product Card 3 -->
                                <img class="img-fluid" src="D:\Programming_2\Github clones\e-commerce-Angular\ecommerce\src\images\blue-dress-woman.png" class="card-image-top" alt="...">
                                <div class="card-img-overlay">
                                    <div class="bg-warning text-white w-25 text-center">New</div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Women Full Sleeve Dress</h5>
                                    <p class="card-text">
                                        <span class="text-danger fw-semibold me-2">Rs. 680.50</span><del>Rs. 990</del>
                                    </p>
                                    <span><i class="fa fa-star m-0" style="color: #f1f50f;"></i></span>
                                    <span><i class="fa fa-star m-0" style="color: #f1f50f;"></i></span>
                                    <span><i class="fa fa-star m-0" style="color: #f1f50f;"></i></span>
                                    <span><i class="fa fa-star m-0" style="color: #f1f50f;"></i></span>
                                    <span><i class="fa fa-star-half m-0" style="color: #f1f50f;"></i></span>
                                    <span class="text-muted">(25)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="box-shadow">
                            <div class="card">
                                <!-- Product Card 4 -->
                                <img class="img-fluid" src="D:\Programming_2\Github clones\e-commerce-Angular\ecommerce\src\images\light blue.jpg" class="card-image-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Light Blue Shirt</h5>
                                    <p class="card-text">
                                        <span class="text-danger fw-semibold me-2">Rs. 720</span><del>Rs. 890</del>
                                        <span class="text-success ms-2">20% Off</span>
                                    </p>
                                    <span><i class="fa fa-star m-0" style="color: #f1f50f;"></i></span>
                                    <span><i class="fa fa-star m-0" style="color: #f1f50f;"></i></span>
                                    <span><i class="fa fa-star m-0" style="color: #f1f50f;"></i></span>
                                    <span><i class="fa fa-star m-0" style="color: #f1f50f;"></i></span>
                                    <span><i class="fa fa-star-half m-0" style="color: #f1f50f;"></i></span>
                                    <span class="text-muted">(22)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
